html{
  width: 100%;
}
#title {

  /* background-color: #ff4c68;  #845EC2, #008F7A*/
  background-image: linear-gradient(to bottom right, #0078AA, #9BE1FB);
}

img {
  width: 45%;
  height: auto;
}
strong{
  direction: rtl;
}

/* .booklink{
color: black;
font-size: 0.2rem;
}
.booklink:hover{
  color: blue;
} */
h1 {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  font-size: 12vw;
  font-weight: bold;
  line-height: 3;
}

h2 {
  font-family: "Times New Roman", Times, serif;
}

.subtitle {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5vw;
  text-align: right;
}

ul,
li {
  text-align: right;
}

#navcontainer {
  padding: 10% 10%;
}

#photo {
  transform: rotate(0deg);
  width: 60%;
  margin-left: 20%;
  border-radius: 50%;
}

.logoimg {
  width: 13%;
  height: 7%;
}

body {
  font-family: "Montserrate";
  text-align: right;
}

.navbar-brand {
  font-family: "Ubantu";
  font-size: 5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 5rem;
}

.newsection {
  padding: 10% 10%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  text-align: right;
  width: 100%;
  border: 2px solid black;
}

table th {
  background: #e6e6fa;
  border: 0.2px solid black;
  padding: 10px;
  font-size: 1.3rem;
}

table td {
  border: 0.2px solid black;
  padding: 10px;
  font-size: 1.3rem;
}

/* tr:nth-child(even) {
  background-color: #E5E4E2;
} */


/* 
.dropbtn {
    background-color: none;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */


  .container{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .animated{
    width: 400px;
    height: 221px;
    background-position: center;
    background-size: cover;
  }
  
  /* Fade in left */
  .fadeInLeft{
    -webkit-animation: fadeInLeft 1.2s both; /* Safari 4+ */
    -moz-animation: fadeInLeft 1.2s both; /* Fx 5+ */
    -o-animation: fadeInLeft 1.2s both; /* Opera 12+ */
    animation: fadeInLeft 1.2s both; /* IE 10+, Fx 29+ */
  } 
  
  /* Safari 4+ */
  @-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
  }
  
  /* Fx 5+ */
  @-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
  }
  
  /* Opera 12+ */
  @-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
  }
  
  /* IE 10+, Fx 29+ */
  @keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }
  
  
  /* Fade in top */
  .fadeInTop {
    -webkit-animation: fadeInTop 1.2s both; /* Safari 4+ */
    -moz-animation: fadeInTop 1.2s both; /* Fx 5+ */
    -o-animation: fadeInTop 1.2s both; /* Opera 12+ */
    animation: fadeInTop 1.2s both; /* IE 10+, Fx 29+ */
  } 
  
  @-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
  }
  
  @-moz-keyframes fadeInTop {
    0% {
        opacity: 0;
        -moz-transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
  }
  
  @-o-keyframes fadeInTop {
    0% {
        opacity: 0;
        -o-transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
  }
  
  @keyframes fadeInTop{
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  /* Fade in right */
  .fadeInRight {
    -webkit-animation: fadeInRight 1.2s both; /* Safari 4+ */
    -moz-animation: fadeInRight 1.2s both; /* Fx 5+ */
    -o-animation: fadeInRight 1.2s both; /* Opera 12+ */
    animation: fadeInRight 1.2s both; /* IE 10+, Fx 29+ */
  } 
  
  @-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
  }
  
  @-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
  }
  
  @-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }



  hr {
    height: 4px;
    margin-left: 15px;
    margin-bottom:-3px;
  }
  .hr-warning{
    background-image: -webkit-linear-gradient(right, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
  }